EXPO_PUBLIC_API_BASE_URL=http://localhost:3001
EXPO_PUBLIC_KEYCLOAK_URL=http://localhost:8090
EXPO_PUBLIC_KEYCLOAK_REALM=regiart
EXPO_PUBLIC_KEYCLOAK_CLIENT_ID=regiart-mobile
EXPO_PUBLIC_CLOUDFLARE_R2_PUBLIC_URL=https://pub.r2.dev
