/* primitives_colors - always-on */
@mixin palette {
  --color-base-white: #FFFF;
  --color-brand-50: #F3FAF8FF;
  --color-brand-100: #E2F1EDFF;
  --color-brand-200: #BFDCD5FF;
  --color-brand-300: #8FC0B7FF;
  --color-brand-400: #649D98FF;
  --color-brand-500: #4A827EFF;
  --color-brand-600: #396866FF;
  --color-brand-700: #315452FF;
  --color-brand-800: #2A4544FF;
  --color-brand-900: #263B3AFF;
  --color-brand-950: #122021FF;
  --color-secondary-50: #F4F7FAFF;
  --color-secondary-100: #E6ECF3;
  --color-secondary-200: #D3DEEAFF;
  --color-secondary-300: #B5C8DBFF;
  --color-secondary-400: #92ABC8FF;
  --color-secondary-500: #7793BAFF;
  --color-secondary-600: #596D9CFF;
  --color-secondary-700: #4B587DFF;
  --color-secondary-800: #414C67FF;
  --color-secondary-900: #2B3140FF;
  --color-secondary-950: #1C1F26FF;
  --color-tertiary-50: #FDF3F3FF;
  --color-tertiary-100: #FDE3E3FF;
  --color-tertiary-200: #FCCCCCFF;
  --color-tertiary-300: #F8A9A9FF;
  --color-tertiary-400: #F27C7CFF;
  --color-tertiary-500: #E74C4CFF;
  --color-tertiary-600: #D32F2FFF;
  --color-tertiary-700: #B12424FF;
  --color-tertiary-800: #932121FF;
  --color-tertiary-900: #7A2222FF;
  --color-tertiary-950: #420D0DFF;
  --color-neutral-50: #F6F8F9FF;
  --color-neutral-100: #E9EDF0FF;
  --color-neutral-200: #D2D8DDFF;
  --color-neutral-300: #B5BCC2FF;
  --color-neutral-400: #8C949BFF;
  --color-neutral-500: #6B7379FF;
  --color-neutral-600: #565D63FF;
  --color-neutral-700: #42484DFF;
  --color-neutral-800: #2E3337FF;
  --color-neutral-900: #23272AFF;
  --color-neutral-950: #181B1EFF;
  --color-opacity-brand-0: #8FC0B700;
  --color-opacity-brand-1: #8FC0B703;
  --color-opacity-brand-2: #8FC0B705;
  --color-opacity-brand-3: #8FC0B708;
  --color-opacity-brand-4: #8FC0B70A;
  --color-opacity-brand-5: #8FC0B70D;
  --color-opacity-brand-6: #8FC0B70F;
  --color-opacity-brand-7: #8FC0B712;
  --color-opacity-brand-8: #8FC0B714;
  --color-opacity-brand-9: #8FC0B717;
  --color-opacity-brand-10: #8FC0B71A;
  --color-opacity-brand-11: #8FC0B71C;
  --color-opacity-brand-12: #8FC0B71F;
  --color-opacity-brand-13: #8FC0B721;
  --color-opacity-brand-14: #8FC0B724;
  --color-opacity-brand-15: #8FC0B726;
  --color-opacity-brand-16: #8FC0B729;
  --color-opacity-brand-17: #8FC0B72B;
  --color-opacity-brand-18: #8FC0B72E;
  --color-opacity-brand-19: #8FC0B730;
  --color-opacity-brand-20: #8FC0B733;
  --color-opacity-brand-40: #8FC0B766;
  --color-opacity-brand-60: #8FC0B799;
  --color-opacity-brand-80: #8FC0B7CC;
  --color-opacity-secondary-0: #4B587D00;
  --color-opacity-secondary-1: #4B587D03;
  --color-opacity-secondary-2: #4B587D05;
  --color-opacity-secondary-3: #4B587D08;
  --color-opacity-secondary-4: #4B587D0A;
  --color-opacity-secondary-5: #4B587D0D;
  --color-opacity-secondary-6: #4B587D0F;
  --color-opacity-secondary-7: #4B587D12;
  --color-opacity-secondary-8: #4B587D14;
  --color-opacity-secondary-9: #4B587D17;
  --color-opacity-secondary-10: #4B587D1A;
  --color-opacity-secondary-11: #4B587D1C;
  --color-opacity-secondary-12: #4B587D1F;
  --color-opacity-secondary-13: #4B587D21;
  --color-opacity-secondary-14: #4B587D24;
  --color-opacity-secondary-15: #4B587D26;
  --color-opacity-secondary-16: #4B587D29;
  --color-opacity-secondary-17: #4B587D2B;
  --color-opacity-secondary-18: #4B587D2E;
  --color-opacity-secondary-19: #4B587D30;
  --color-opacity-secondary-20: #4B587D33;
  --color-opacity-secondary-40: #4B587D66;
  --color-opacity-secondary-60: #4B587D99;
  --color-opacity-secondary-80: #4B587DCC;
  --color-opacity-brand-dark-0: #31545200;
  --color-opacity-brand-dark-1: #31545203;
  --color-opacity-brand-dark-2: #31545205;
  --color-opacity-brand-dark-3: #31545208;
  --color-opacity-brand-dark-4: #3154520A;
  --color-opacity-brand-dark-5: #3154520D;
  --color-opacity-brand-dark-6: #3154520F;
  --color-opacity-brand-dark-7: #31545212;
  --color-opacity-brand-dark-8: #31545214;
  --color-opacity-brand-dark-9: #31545217;
  --color-opacity-brand-dark-10: #3154521A;
  --color-opacity-brand-dark-11: #3154521C;
  --color-opacity-brand-dark-12: #3154521F;
  --color-opacity-brand-dark-13: #31545221;
  --color-opacity-brand-dark-14: #31545224;
  --color-opacity-brand-dark-15: #31545226;
  --color-opacity-brand-dark-16: #31545229;
  --color-opacity-brand-dark-17: #3154522B;
  --color-opacity-brand-dark-18: #3154522E;
  --color-opacity-brand-dark-19: #31545230;
  --color-opacity-brand-dark-20: #31545233;
  --color-opacity-brand-dark-40: #31545266;
  --color-opacity-brand-dark-60: #31545299;
  --color-opacity-brand-dark-80: #141829CC;
  --color-opacity-neutral-dark-0: #2E333700;
  --color-opacity-neutral-dark-1: #2E333703;
  --color-opacity-neutral-dark-2: #2E333705;
  --color-opacity-neutral-dark-3: #2E333708;
  --color-opacity-neutral-dark-4: #2E33370A;
  --color-opacity-neutral-dark-5: #2E33370D;
  --color-opacity-neutral-dark-6: #2E33370F;
  --color-opacity-neutral-dark-7: #2E333712;
  --color-opacity-neutral-dark-8: #2E333714;
  --color-opacity-neutral-dark-9: #2E333717;
  --color-opacity-neutral-dark-10: #2E33371A;
  --color-opacity-neutral-dark-11: #2E33371C;
  --color-opacity-neutral-dark-12: #2E33371F;
  --color-opacity-neutral-dark-13: #2E333721;
  --color-opacity-neutral-dark-14: #2E333724;
  --color-opacity-neutral-dark-15: #2E333726;
  --color-opacity-neutral-dark-16: #2E333729;
  --color-opacity-neutral-dark-17: #2E33372B;
  --color-opacity-neutral-dark-18: #2E33372E;
  --color-opacity-neutral-dark-19: #2E333730;
  --color-opacity-neutral-dark-20: #2E333733;
  --color-opacity-neutral-dark-40: #2E333766;
  --color-opacity-neutral-dark-60: #2E333799;
  --color-opacity-neutral-dark-80: #2E3337CC;
  --color-opacity-neutral-light-0: #FFF0;
  --color-opacity-neutral-light-1: #FFFFFF03;
  --color-opacity-neutral-light-2: #FFFFFF05;
  --color-opacity-neutral-light-3: #FFFFFF08;
  --color-opacity-neutral-light-4: #FFFFFF0A;
  --color-opacity-neutral-light-5: #FFFFFF0D;
  --color-opacity-neutral-light-6: #FFFFFF0F;
  --color-opacity-neutral-light-7: #FFFFFF12;
  --color-opacity-neutral-light-8: #FFFFFF14;
  --color-opacity-neutral-light-9: #FFFFFF17;
  --color-opacity-neutral-light-10: #FFFFFF1A;
  --color-opacity-neutral-light-11: #FFFFFF1C;
  --color-opacity-neutral-light-12: #FFFFFF1F;
  --color-opacity-neutral-light-13: #FFFFFF21;
  --color-opacity-neutral-light-14: #FFFFFF24;
  --color-opacity-neutral-light-15: #FFFFFF26;
  --color-opacity-neutral-light-16: #FFFFFF29;
  --color-opacity-neutral-light-17: #FFFFFF2B;
  --color-opacity-neutral-light-18: #FFFFFF2E;
  --color-opacity-neutral-light-19: #FFFFFF30;
  --color-opacity-neutral-light-20: #FFF3;
  --color-opacity-neutral-light-40: #FFF6;
  --color-opacity-neutral-light-60: #FFF9;
  --color-opacity-neutral-light-80: #FFFC;
  --color-status-success-050: var(--color-brand-50);
  --color-brand-old-50: #F6F8F9FF;
  --color-brand-old-100: #ECF1F2FF;
  --color-brand-old-200: #D5DFE2FF;
  --color-brand-old-300: #9DB4BAFF;
  --color-brand-old-400: #87A3A9FF;
  --color-brand-old-500: #68888FFF;
  --color-brand-old-600: #536E76FF;
  --color-brand-old-700: #445960FF;
  --color-brand-old-800: #3B4C51FF;
  --color-brand-old-900: #344146FF;
  --color-brand-old-950: #232B2EFF;
  --color-status-success-100: var(--color-brand-100);
  --color-text-base-white: #FFF;
  --color-text-brand-050: #F6F8F9;
  --color-text-brand-100: #ECF1F2;
  --color-text-brand-200: #D5DFE2;
  --color-text-brand-300: #9DB4BA;
  --color-text-brand-400: #87A3A9;
  --color-text-brand-500: #68888F;
  --color-text-brand-600: #536E76;
  --color-text-brand-700: #445960;
  --color-text-brand-800: #3B4C51;
  --color-text-brand-900: #344146;
  --color-text-brand-950: #232B2E;
  --color-status-success-200: var(--color-brand-200);
  --color-status-success-300: var(--color-brand-300);
  --color-status-success-400: var(--color-brand-400);
  --color-status-success-500: var(--color-brand-500);
  --color-status-success-600: var(--color-brand-600);
  --color-status-success-700: var(--color-brand-700);
  --color-status-success-800: var(--color-brand-800);
  --color-status-success-900: var(--color-brand-900);
  --color-status-success-950: var(--color-brand-950);
  --color-text-secondary-050: #F4F7FA;
  --color-text-secondary-100: #E6ECF3;
  --color-text-secondary-200: #D3DEEA;
  --color-text-secondary-300: #B5C8DB;
  --color-text-secondary-400: #92ABC8;
  --color-text-secondary-500: #7793BA;
  --color-text-secondary-600: #596D9C;
  --color-text-secondary-700: #4B587D;
  --color-text-secondary-800: #414C67;
  --color-text-secondary-900: #2B3140;
  --color-text-secondary-950: #1C1F26;
  --color-text-tertiary-050: #FDF3F3;
  --color-text-tertiary-100: #E2EAF7;
  --color-text-tertiary-200: #FCCCCC;
  --color-text-tertiary-300: #F8A9A9;
  --color-text-tertiary-400: #F27C7C;
  --color-text-tertiary-500: #E74C4C;
  --color-text-tertiary-600: #4C6DC4;
  --color-text-tertiary-700: #425CB3;
  --color-text-tertiary-800: #932121;
  --color-text-tertiary-900: #334175;
  --color-text-tertiary-950: #420D0D;
  --color-text-neutral-050: #F6F6F5;
  --color-text-status-success-050: #ECFEF6;
  --color-text-status-warning-050: #FFF9EC;
  --color-text-status-danger-050: #FEF2F2;
  --color-text-status-info-050: #F0F9FF;
  --color-text-status-info-100: #E0F2FE;
  --color-text-status-info-200: #BFDBFE;
  --color-text-status-info-300: #93C5FD;
  --color-text-status-info-400: #60A5FA;
  --color-text-status-info-500: #3B82F6;
  --color-text-status-info-600: #2563EB;
  --color-text-status-info-700: #1D4ED8;
  --color-text-status-info-800: #1E40AF;
  --color-text-status-info-900: #1E3A8A;
  --color-text-status-info-950: #172B64;
  --color-text-status-danger-100: #FEE2E2;
  --color-text-status-danger-200: #FECACA;
  --color-text-status-danger-300: #FCA5A5;
  --color-text-status-danger-400: #F87171;
  --color-text-status-danger-500: #EF4444;
  --color-text-status-danger-600: #DC2626;
  --color-text-status-danger-700: #B91C1C;
  --color-text-status-danger-800: #991B1B;
  --color-text-status-danger-900: #7F1D1D;
  --color-text-status-danger-950: #450A0A;
  --color-text-status-warning-100: #FFEFC7;
  --color-text-status-warning-200: #FFE19A;
  --color-text-status-warning-300: #FFD261;
  --color-text-status-warning-400: #FFB938;
  --color-text-status-warning-500: #FF9F0A;
  --color-text-status-warning-600: #DB7F00;
  --color-text-status-warning-700: #A86000;
  --color-text-status-warning-800: #744200;
  --color-text-status-warning-900: #402500;
  --color-text-status-warning-950: #291600;
  --color-text-status-success-100: #CFFAEA;
  --color-text-status-success-200: #9EF3D7;
  --color-text-status-success-300: #5CE8BE;
  --color-text-status-success-400: #4ADE80;
  --color-text-status-success-500: #00B982;
  --color-text-status-success-600: #00996B;
  --color-text-status-success-700: #007A56;
  --color-text-status-success-800: #005C40;
  --color-text-status-success-900: #003E2A;
  --color-text-status-success-950: #002218;
  --color-text-neutral-100: #E7E7E6;
  --color-text-neutral-200: #D1D1D0;
  --color-text-neutral-300: #B1B0AF;
  --color-text-neutral-400: #898887;
  --color-text-neutral-500: #6E6D6C;
  --color-text-neutral-600: #50504E;
  --color-text-neutral-700: #464644;
  --color-text-neutral-800: #354157;
  --color-text-neutral-900: #262626;
  --color-text-neutral-950: #1A1A1A;
  --color-text-neutral-opacity-dark-1: rgba(#1A1F2C, 1%);
  --color-text-neutral-opacity-dark-2: rgba(#1A1F2C, 2%);
  --color-text-neutral-opacity-dark-3: rgba(#1A1F2C, 3%);
  --color-text-neutral-opacity-dark-4: rgba(#1A1F2C, 4%);
  --color-status-warning-050: #FEF9EEFF;
  --color-status-warning-100: #FCF1D8FF;
  --color-status-warning-200: #F7DFB1FF;
  --color-status-warning-300: #F2C57CFF;
  --color-status-warning-400: #ECA44BFF;
  --color-status-warning-500: #E78B28FF;
  --color-status-warning-600: #D9711DFF;
  --color-status-warning-700: #B4581AFF;
  --color-status-warning-800: #8F3B0EFF;
  --color-status-warning-900: #742C02FF;
  --color-status-warning-950: #3E1400FF;
  --color-status-danger-050: var(--color-tertiary-50);
  --color-status-info-050: #F0F9FFFF;
  --color-status-info-100: #E0F2FEFF;
  --color-status-info-200: #BFDBFEFF;
  --color-status-info-300: #93C5FDFF;
  --color-status-info-400: #60A5FAFF;
  --color-status-info-500: #3B82F6FF;
  --color-status-info-600: #2563EBFF;
  --color-status-info-700: #1D4ED8FF;
  --color-status-info-800: #1E40AFFF;
  --color-status-info-900: #1E3A8AFF;
  --color-status-info-950: #172B64FF;
  --color-status-danger-100: var(--color-tertiary-100);
  --color-status-danger-200: var(--color-tertiary-200);
  --color-status-danger-300: var(--color-tertiary-300);
  --color-status-danger-400: var(--color-tertiary-400);
  --color-status-danger-500: var(--color-tertiary-500);
  --color-status-danger-600: var(--color-tertiary-600);
  --color-status-danger-700: var(--color-tertiary-700);
  --color-status-danger-800: var(--color-tertiary-800);
  --color-status-danger-900: var(--color-tertiary-900);
  --color-status-danger-950: var(--color-tertiary-950);
  --color-opacity-secondary-dark-0: #1C1F2600;
  --color-opacity-secondary-dark-1: #1C1F2603;
  --color-opacity-secondary-dark-2: #1C1F2605;
  --color-opacity-secondary-dark-3: #1C1F2608;
  --color-opacity-secondary-dark-4: #1C1F260A;
  --color-opacity-secondary-dark-5: #1C1F260D;
  --color-opacity-secondary-dark-6: #1C1F260F;
  --color-opacity-secondary-dark-7: #1C1F2612;
  --color-opacity-secondary-dark-8: #1C1F2614;
  --color-opacity-secondary-dark-9: #1C1F2617;
  --color-opacity-secondary-dark-10: #1C1F261A;
  --color-opacity-secondary-dark-11: #1C1F261C;
  --color-opacity-secondary-dark-12: #1C1F261F;
  --color-opacity-secondary-dark-13: #1C1F2621;
  --color-opacity-secondary-dark-14: #1C1F2624;
  --color-opacity-secondary-dark-15: #1C1F2626;
  --color-opacity-secondary-dark-16: #1C1F2629;
  --color-opacity-secondary-dark-17: #1C1F262B;
  --color-opacity-secondary-dark-18: #1C1F262E;
  --color-opacity-secondary-dark-19: #1C1F2630;
  --color-opacity-secondary-dark-20: #1C1F2633;
  --color-opacity-secondary-dark-40: #1C1F2666;
  --color-opacity-secondary-dark-60: #1C1F2699;
  --color-opacity-secondary-dark-80: #1C1F26CC;
}
