/* theme - light */
@mixin theme-light {
  --colors-text-default: var(--color-neutral-800);
  --shadows-neutral-1: var(--color-opacity-neutral-dark-1);
  --shadows-neutral-2: var(--color-opacity-neutral-dark-2);
  --shadows-neutral-3: var(--color-opacity-neutral-dark-3);
  --shadows-neutral-4: var(--color-opacity-neutral-dark-4);
  --shadows-neutral-5: var(--color-opacity-neutral-dark-5);
  --shadows-neutral-6: var(--color-opacity-neutral-dark-6);
  --shadows-neutral-7: var(--color-opacity-neutral-dark-7);
  --shadows-neutral-8: var(--color-opacity-neutral-dark-8);
  --shadows-neutral-9: var(--color-opacity-neutral-dark-9);
  --shadows-neutral-10: var(--color-opacity-neutral-dark-10);
  --shadows-neutral-11: var(--color-opacity-neutral-dark-11);
  --shadows-neutral-12: var(--color-opacity-neutral-dark-12);
  --shadows-neutral-13: var(--color-opacity-neutral-dark-13);
  --shadows-neutral-14: var(--color-opacity-neutral-dark-14);
  --shadows-neutral-15: var(--color-opacity-neutral-dark-15);
  --shadows-neutral-16: var(--color-opacity-neutral-dark-16);
  --shadows-brand-dark-1: var(--color-opacity-brand-dark-1);
  --shadows-brand-dark-2: var(--color-opacity-brand-dark-2);
  --shadows-brand-dark-3: var(--color-opacity-brand-dark-3);
  --shadows-brand-dark-4: var(--color-opacity-brand-dark-4);
  --shadows-brand-dark-5: var(--color-opacity-brand-dark-5);
  --shadows-brand-dark-6: var(--color-opacity-brand-dark-6);
  --shadows-brand-dark-7: var(--color-opacity-brand-dark-7);
  --shadows-brand-dark-8: var(--color-opacity-brand-dark-8);
  --shadows-brand-dark-9: var(--color-opacity-brand-dark-9);
  --shadows-brand-dark-10: var(--color-opacity-brand-dark-10);
  --shadows-brand-dark-11: var(--color-opacity-brand-dark-11);
  --shadows-brand-dark-12: var(--color-opacity-brand-dark-12);
  --shadows-brand-dark-13: var(--color-opacity-brand-dark-13);
  --shadows-brand-dark-14: var(--color-opacity-brand-dark-14);
  --shadows-brand-dark-15: var(--color-opacity-brand-dark-15);
  --shadows-brand-dark-16: var(--color-opacity-brand-dark-16);
  --shadows-z1-layer-0-shadow-x: 0px;
  --shadows-z1-layer-0-shadow-y: 0px;
  --shadows-z1-layer-0-shadow-blur: 40px;
  --shadows-z1-layer-0-shadow-spread: -4px;
  --shadows-z1-layer-0-shadow-color: #1B1C5033;
  --shadows-z1-layer-1-shadow-x: 0px;
  --shadows-z1-layer-1-shadow-y: 2px;
  --shadows-z1-layer-1-shadow-blur: 4px;
  --shadows-z1-layer-1-shadow-spread: 0px;
  --shadows-z1-layer-1-shadow-color: #1B1C501F;
  --shadows-z1-layer-2-shadow-x: 0px;
  --shadows-z1-layer-2-shadow-y: 8px;
  --shadows-z1-layer-2-shadow-blur: 8px;
  --shadows-z1-layer-2-shadow-spread: -2px;
  --shadows-z1-layer-2-shadow-color: #1B1C5008;
  --shadows-z1-layer-3-shadow-x: 0px;
  --shadows-z1-layer-3-shadow-y: 16px;
  --shadows-z1-layer-3-shadow-blur: 12px;
  --shadows-z1-layer-3-shadow-spread: -4px;
  --shadows-z1-layer-3-shadow-color: #1B1C5005;
  --shadows-z1-layer-4-shadow-x: 0px;
  --shadows-z1-layer-4-shadow-y: 28px;
  --shadows-z1-layer-4-shadow-blur: 12px;
  --shadows-z1-layer-4-shadow-spread: -8px;
  --shadows-z1-layer-4-shadow-color: #1B1C5003;
  --shadows-z2-layer-0-shadow-x: 0px;
  --shadows-z2-layer-0-shadow-y: 0px;
  --shadows-z2-layer-0-shadow-blur: 40px;
  --shadows-z2-layer-0-shadow-spread: -8px;
  --shadows-z2-layer-0-shadow-color: #1B1C5033;
  --shadows-z2-layer-1-shadow-x: 0px;
  --shadows-z2-layer-1-shadow-y: 24px;
  --shadows-z2-layer-1-shadow-blur: 16px;
  --shadows-z2-layer-1-shadow-spread: -20px;
  --shadows-z2-layer-1-shadow-color: #1B1C500D;
  --shadows-z2-layer-2-shadow-x: 0px;
  --shadows-z2-layer-2-shadow-y: 40px;
  --shadows-z2-layer-2-shadow-blur: 24px;
  --shadows-z2-layer-2-shadow-spread: -32px;
  --shadows-z2-layer-2-shadow-color: #1B1C500A;
  --shadows-z2-layer-3-shadow-x: 0px;
  --shadows-z2-layer-3-shadow-y: 64px;
  --shadows-z2-layer-3-shadow-blur: 40px;
  --shadows-z2-layer-3-shadow-spread: -40px;
  --shadows-z2-layer-3-shadow-color: #1B1C5008;
  --shadows-z2-layer-4-shadow-x: 0px;
  --shadows-z2-layer-4-shadow-y: 80px;
  --shadows-z2-layer-4-shadow-blur: 64px;
  --shadows-z2-layer-4-shadow-spread: -48px;
  --shadows-z2-layer-4-shadow-color: #1B1C5005;
  --shadows-z3-layer-0-shadow-x: 0px;
  --shadows-z3-layer-0-shadow-y: 0px;
  --shadows-z3-layer-0-shadow-blur: 40px;
  --shadows-z3-layer-0-shadow-spread: -16px;
  --shadows-z3-layer-0-shadow-color: #1B1C5033;
  --shadows-z3-layer-1-shadow-x: 0px;
  --shadows-z3-layer-1-shadow-y: 40px;
  --shadows-z3-layer-1-shadow-blur: 24px;
  --shadows-z3-layer-1-shadow-spread: -32px;
  --shadows-z3-layer-1-shadow-color: #1B1C500A;
  --shadows-z3-layer-2-shadow-x: 0px;
  --shadows-z3-layer-2-shadow-y: 64px;
  --shadows-z3-layer-2-shadow-blur: 40px;
  --shadows-z3-layer-2-shadow-spread: -48px;
  --shadows-z3-layer-2-shadow-color: #1B1C5008;
  --shadows-z3-layer-3-shadow-x: 0px;
  --shadows-z3-layer-3-shadow-y: 80px;
  --shadows-z3-layer-3-shadow-blur: 64px;
  --shadows-z3-layer-3-shadow-spread: -64px;
  --shadows-z3-layer-3-shadow-color: #1B1C5005;
  --shadows-z3-layer-4-shadow-x: 0px;
  --shadows-z3-layer-4-shadow-y: 120px;
  --shadows-z3-layer-4-shadow-blur: 104px;
  --shadows-z3-layer-4-shadow-spread: -80px;
  --shadows-z3-layer-4-shadow-color: #1B1C5003;
  --colors-text-reverse-default: var(--color-neutral-50);
  --colors-text-reverse-bolder: var(--color-base-white);
  --colors-text-reverse-subtle: var(--color-neutral-100);
  --colors-text-reverse-subtler: var(--color-neutral-200);
  --colors-text-reverse-subtlest: var(--color-neutral-300);
  --colors-text-brand-default: var(--color-brand-600);
  --colors-text-brand-bolder: var(--color-brand-700);
  --colors-text-brand-subtle: var(--color-brand-500);
  --colors-text-brand-subtler: var(--color-brand-400);
  --colors-text-brand-subtlest: var(--color-brand-300);
  --colors-text-secondary-default: var(--color-secondary-700);
  --colors-text-secondary-bolder: var(--color-secondary-900);
  --colors-text-secondary-subtle: var(--color-secondary-600);
  --colors-text-secondary-subtler: var(--color-secondary-500);
  --colors-text-secondary-subtlest: var(--color-secondary-400);
  --colors-text-bolder: var(--color-neutral-900);
  --colors-text-subtle: var(--color-neutral-700);
  --colors-text-subtler: var(--color-neutral-600);
  --colors-text-subtlest: var(--color-neutral-500);
  --colors-text-disabled: var(--color-neutral-400);
  --colors-text-tertiary-default: var(--color-tertiary-600);
  --colors-text-tertiary-bolder: var(--color-tertiary-800);
  --colors-text-tertiary-subtle: var(--color-tertiary-400);
  --colors-text-tertiary-subtler: var(--color-tertiary-300);
  --colors-text-tertiary-subtlest: var(--color-tertiary-200);
  --colors-background-default: var(--color-secondary-100);
  --colors-background-elevation-1: var(--color-secondary-50);
  --colors-background-elevation-2: var(--color-base-white);
  --colors-filter-default: var(--color-opacity-secondary-dark-40);
  --colors-filter-hover: var(--color-opacity-secondary-dark-60);
  --colors-filter-bolder-default: var(--color-opacity-secondary-dark-60);
  --colors-filter-bolder-hover: var(--color-opacity-secondary-dark-80);
  --colors-filter-subtle-default: var(--color-opacity-secondary-dark-20);
  --colors-filter-subtle-hover: var(--color-opacity-secondary-dark-40);
  --colors-filter-subtler-default: var(--color-opacity-secondary-dark-10);
  --colors-filter-subtler-hover: var(--color-opacity-secondary-dark-20);
  --colors-background-disabled: var(--color-neutral-100);
  --colors-border-default: var(--color-secondary-500);
  --colors-border-divider: var(--color-secondary-300);
  --colors-border-neutral-white: var(--color-base-white);
  --colors-border-neutral-subtler: var(--color-neutral-200);
  --colors-border-neutral-subtle: var(--color-neutral-300);
  --colors-border-neutral-bolder: var(--color-neutral-700);
  --colors-border-neutral-subtlest: var(--color-neutral-100);
  --colors-border-disabled: var(--color-neutral-200);
  --colors-border-brand-default: var(--color-brand-400);
  --colors-border-brand-bolder: var(--color-brand-600);
  --colors-border-secondary-default: var(--color-secondary-400);
  --colors-border-tertiary-default: var(--color-tertiary-300);
  --colors-border-tertiary-bolder: var(--color-tertiary-600);
  --colors-border-tertiary-subtle: var(--color-tertiary-200);
  --colors-border-tertiary-subtler: var(--color-tertiary-100);
  --colors-border-tertiary-subtlest: var(--color-tertiary-50);
  --colors-border-secondary-bolder: var(--color-secondary-700);
  --colors-border-secondary-subtle: var(--color-secondary-300);
  --colors-border-secondary-subtler: var(--color-secondary-200);
  --colors-border-brand-subtle: var(--color-brand-300);
  --colors-border-secondary-subtlest: var(--color-secondary-100);
  --colors-border-brand-subtler: var(--color-brand-200);
  --colors-border-brand-subtlest: var(--color-brand-100);
  --colors-border-status-success-default: var(--color-status-success-600);
  --colors-border-status-warning-default: var(--color-status-warning-600);
  --colors-border-status-warning-subtlest: var(--color-status-warning-300);
  --colors-border-status-warning-subtler: var(--color-status-warning-400);
  --colors-border-status-warning-subtle: var(--color-status-warning-500);
  --colors-border-status-warning-bolder: var(--color-status-warning-700);
  --colors-border-status-danger-default: var(--color-status-danger-600);
  --colors-border-status-danger-subtlest: var(--color-status-danger-300);
  --colors-border-status-danger-subtler: var(--color-status-danger-400);
  --colors-border-status-danger-subtle: var(--color-status-danger-500);
  --colors-border-status-danger-bolder: var(--color-status-danger-700);
  --colors-border-status-info-default: var(--color-status-info-600);
  --colors-border-status-info-subtlest: var(--color-status-info-300);
  --colors-border-status-info-subtler: var(--color-status-info-400);
  --colors-border-status-info-subtle: var(--color-status-info-500);
  --colors-border-status-info-bolder: var(--color-status-info-700);
  --colors-border-status-success-subtlest: var(--color-status-success-300);
  --colors-border-status-success-subtler: var(--color-status-success-400);
  --colors-border-status-success-subtle: var(--color-status-success-500);
  --colors-border-status-success-bolder: var(--color-status-success-700);
  --colors-border-ghost-default: var(--color-opacity-neutral-light-60);
  --colors-border-ghost-bolder: var(--color-opacity-neutral-light-80);
  --colors-border-ghost-subtle: var(--color-opacity-neutral-light-40);
  --colors-border-ghost-subtler: var(--color-opacity-neutral-light-20);
  --colors-border-ghost-subtlest: var(--color-opacity-neutral-light-10);
  --colors-icon-default: var(--color-neutral-600);
  --colors-icon-reverse-default: var(--color-neutral-50);
  --colors-icon-reverse-bolder: var(--color-base-white);
  --colors-icon-reverse-subtle: var(--color-neutral-100);
  --colors-icon-reverse-subtler: var(--color-neutral-200);
  --colors-icon-reverse-subtlest: var(--color-neutral-300);
  --colors-icon-brand-default: var(--color-brand-500);
  --colors-icon-bolder: var(--color-neutral-800);
  --colors-icon-subtle: var(--color-neutral-500);
  --colors-icon-brand-bolder: var(--color-brand-600);
  --colors-icon-brand-subtle: var(--color-brand-400);
  --colors-icon-subtler: var(--color-neutral-400);
  --colors-icon-brand-subtler: var(--color-brand-300);
  --colors-icon-brand-subtlest: var(--color-brand-200);
  --colors-icon-subtlest: var(--color-neutral-300);
  --colors-icon-disabled: var(--color-neutral-300);
  --colors-btn-primary-hover-background: var(--colors-background-brand-subtler-hover);
  --colors-btn-primary-hover-border: var(--colors-border-brand-subtle);
  --colors-btn-white-hover-background: var(--colors-background-secondary-subtlest-hover);
  --colors-btn-white-hover-border: var(--colors-border-secondary-subtlest);
  --colors-btn-white-hover-text-contrast: var(--colors-text-secondary-bolder);
  --colors-btn-white-hover-icon-contrast: var(--colors-icon-secondary-bolder);
  --colors-btn-white-hover-text: var(--colors-text-reverse-bolder);
  --colors-btn-white-hover-icon: var(--colors-icon-reverse-bolder);
  --colors-btn-white-hover-background-blur: 20px;
  --colors-btn-tertiary-hover-background: var(--colors-background-tertiary-hover);
  --colors-btn-tertiary-hover-border: var(--colors-border-tertiary-subtle);
  --colors-btn-tertiary-hover-text-contrast: var(--colors-text-reverse-bolder);
  --colors-btn-tertiary-hover-icon-contrast: var(--colors-icon-reverse-bolder);
  --colors-btn-tertiary-hover-text: var(--colors-text-tertiary-bolder);
  --colors-btn-tertiary-hover-icon: var(--colors-icon-tertiary-bolder);
  --colors-btn-tertiary-hover-background-blur: 20px;
  --colors-btn-primary-hover-text-contrast: var(--colors-text-reverse-bolder);
  --colors-btn-primary-background: var(--colors-background-brand-subtler-default);
  --colors-btn-primary-hover-icon-contrast: var(--colors-icon-reverse-bolder);
  --colors-btn-primary-border: var(--colors-border-brand-default);
  --colors-btn-primary-text-contrast: var(--colors-text-reverse-default);
  --colors-btn-primary-icon-contrast: var(--colors-icon-reverse-default);
  --colors-btn-primary-text: var(--colors-text-brand-default);
  --colors-btn-primary-icon: var(--colors-icon-brand-default);
  --colors-form-input-border-default: var(--colors-border-secondary-default);
  --colors-btn-primary-hover-text: var(--colors-text-brand-bolder);
  --colors-form-input-border-hover: var(--colors-border-secondary-subtle);
  --colors-form-input-border-pressed: var(--colors-border-secondary-bolder);
  --colors-btn-primary-hover-icon: var(--colors-icon-brand-bolder);
  --colors-btn-primary-hover-background-blur: 20px;
  --colors-btn-secondary-light-hover-background: var(--colors-background-secondary-subtlest-hover);
  --colors-btn-secondary-light-hover-border: var(--colors-border-secondary-default);
  --colors-btn-secondary-light-hover-text-contrast: var(--colors-text-secondary-bolder);
  --colors-btn-secondary-light-hover-icon-contrast: var(--colors-icon-secondary-default);
  --colors-btn-secondary-light-hover-text: var(--colors-text-reverse-bolder);
  --colors-btn-secondary-light-hover-icon: var(--colors-icon-reverse-bolder);
  --colors-btn-secondary-light-hover-background-blur: 20px;
  --colors-btn-secondary-background: var(--colors-background-secondary-default);
  --colors-btn-secondary-border: var(--colors-border-secondary-bolder);
  --colors-btn-secondary-text-contrast: var(--colors-text-reverse-default);
  --colors-btn-secondary-icon-contrast: var(--colors-icon-reverse-default);
  --colors-btn-secondary-text: var(--colors-text-secondary-default);
  --colors-btn-secondary-icon: var(--colors-icon-secondary-default);
  --colors-btn-secondary-background-blur: 5px;
  --colors-btn-secondary-hover-background: var(--colors-background-secondary-hover);
  --colors-btn-secondary-hover-border: var(--colors-border-secondary-default);
  --colors-btn-secondary-hover-text-contrast: var(--colors-text-reverse-bolder);
  --colors-btn-secondary-hover-icon-contrast: var(--colors-icon-reverse-bolder);
  --colors-btn-secondary-hover-text: var(--colors-text-secondary-bolder);
  --colors-btn-secondary-hover-icon: var(--colors-icon-secondary-bolder);
  --colors-btn-secondary-hover-background-blur: 20px;
  --colors-btn-secondary-light-background: var(--colors-background-secondary-subtlest-default);
  --colors-btn-tertiary-background: var(--colors-background-tertiary-default);
  --colors-btn-white-background: var(--colors-background-elevation-2);
  --colors-btn-white-border: var(--colors-border-secondary-subtler);
  --colors-btn-white-text-contrast: var(--colors-text-secondary-default);
  --colors-btn-white-icon-contrast: var(--colors-icon-secondary-default);
  --colors-btn-white-text: var(--colors-text-reverse-default);
  --colors-btn-white-icon: var(--colors-icon-reverse-default);
  --colors-btn-white-background-blur: 5px;
  --colors-btn-tertiary-border: var(--colors-border-tertiary-default);
  --colors-btn-tertiary-text-contrast: var(--colors-text-reverse-default);
  --colors-btn-tertiary-icon-contrast: var(--colors-icon-reverse-default);
  --colors-btn-tertiary-text: var(--colors-text-tertiary-default);
  --colors-btn-tertiary-icon: var(--colors-icon-tertiary-default);
  --colors-btn-tertiary-background-blur: 5px;
  --colors-btn-secondary-light-border: var(--colors-border-secondary-subtle);
  --colors-btn-secondary-light-text-contrast: var(--colors-text-secondary-default);
  --colors-btn-secondary-light-icon-contrast: var(--colors-icon-secondary-subtle);
  --colors-btn-secondary-light-text: var(--colors-text-reverse-default);
  --colors-btn-secondary-light-icon: var(--colors-icon-reverse-default);
  --colors-btn-neutral-hover-background: var(--colors-background-neutral-bolder-hover);
  --colors-btn-neutral-hover-border: var(--colors-border-neutral-bolder);
  --colors-btn-neutral-hover-text-contrast: var(--colors-text-reverse-default);
  --colors-btn-neutral-hover-icon-contrast: var(--colors-icon-reverse-bolder);
  --colors-btn-neutral-hover-text: var(--colors-text-bolder);
  --colors-btn-neutral-hover-icon: var(--colors-icon-bolder);
  --colors-btn-neutral-hover-background-blur: 20px;
  --colors-btn-neutral-background: var(--colors-background-neutral-bolder-default);
  --colors-btn-neutral-border: var(--colors-border-neutral-bolder);
  --colors-btn-neutral-text-contrast: var(--colors-text-reverse-default);
  --colors-btn-neutral-icon-contrast: var(--colors-icon-reverse-default);
  --colors-btn-neutral-text: var(--colors-text-default);
  --colors-btn-neutral-icon: var(--colors-icon-default);
  --colors-btn-inactive-background: var(--colors-background-disabled);
  --colors-btn-inactive-border: var(--colors-border-disabled);
  --colors-btn-inactive-text: var(--colors-text-disabled);
  --colors-btn-inactive-icon: var(--colors-icon-disabled);
  --colors-btn-inactive-background-blur: 20px;
  --colors-btn-neutral-background-blur: 5px;
  --colors-btn-secondary-light-background-blur: 5px;
  --colors-btn-primary-background-blur: 5px;
  --colors-form-message-neutral-label: var(--colors-text-subtlest);
  --colors-form-message-neutral-icon: var(--colors-icon-subtle);
  --colors-background-brand-bolder-default: var(--color-brand-950);
  --colors-background-brand-bolder-hover: var(--color-brand-900);
  --colors-background-brand-subtle-default: var(--color-brand-400);
  --colors-background-brand-subtle-hover: var(--color-brand-300);
  --colors-background-brand-subtler-default: var(--color-brand-300);
  --colors-background-brand-subtler-hover: var(--color-brand-400);
  --colors-background-brand-subtlest-default: var(--color-brand-50);
  --colors-background-brand-default: var(--color-brand-600);
  --colors-background-secondary-default: var(--color-secondary-700);
  --colors-background-tertiary-default: var(--color-tertiary-400);
  --colors-background-tertiary-hover: var(--color-tertiary-300);
  --colors-background-tertiary-bolder-default: var(--color-tertiary-800);
  --colors-background-tertiary-bolder-hover: var(--color-tertiary-700);
  --colors-background-tertiary-subtle-default: var(--color-tertiary-300);
  --colors-background-tertiary-subtler-default: var(--color-tertiary-200);
  --colors-background-tertiary-subtlest-default: var(--color-tertiary-100);
  --colors-background-tertiary-subtlest-hover: var(--color-tertiary-200);
  --colors-background-tertiary-subtler-hover: var(--color-tertiary-100);
  --colors-background-tertiary-subtle-hover: var(--color-tertiary-200);
  --colors-background-neutral-bolder-default: var(--color-neutral-950);
  --colors-background-neutral-bolder-hover: var(--color-neutral-900);
  --colors-background-neutral-subtle-default: var(--color-neutral-700);
  --colors-background-neutral-subtle-hover: var(--color-neutral-600);
  --colors-background-neutral-subtler-default: var(--color-neutral-400);
  --colors-background-neutral-subtler-hover: var(--color-neutral-300);
  --colors-background-neutral-subtlest-default: var(--color-neutral-100);
  --colors-background-neutral-subtlest-hover: var(--color-neutral-50);
  --colors-background-secondary-hover: var(--color-secondary-600);
  --colors-background-secondary-bolder-default: var(--color-secondary-900);
  --colors-background-secondary-bolder-hover: var(--color-secondary-800);
  --colors-background-secondary-subtle-default: var(--color-secondary-600);
  --colors-background-secondary-subtle-hover: var(--color-secondary-500);
  --colors-background-secondary-subtler-default: var(--color-secondary-400);
  --colors-background-secondary-subtler-hover: var(--color-secondary-300);
  --colors-background-secondary-subtlest-default: var(--color-secondary-200);
  --colors-background-secondary-subtlest-hover: var(--color-secondary-100);
  --colors-background-brand-hover: var(--color-brand-500);
  --colors-background-brand-subtlest-hover: var(--color-brand-100);
  --colors-form-input-background-default: var(--colors-background-elevation-2);
  --colors-form-input-background-hover: var(--colors-background-neutral-subtlest-hover);
  --colors-form-input-text-label: var(--colors-text-secondary-default);
  --colors-form-input-background-pressed: var(--colors-background-elevation-1);
  --colors-form-input-text-placeholder: var(--colors-text-subtlest);
  --colors-form-input-background-selected: var(--colors-background-secondary-default);
  --colors-form-input-background-selected-hover: var(--colors-background-secondary-hover);
  --colors-form-input-text-text: var(--colors-text-secondary-bolder);
  --colors-form-input-icon-default: var(--colors-icon-secondary-subtlest);
  --colors-form-input-icon-hover: var(--colors-icon-secondary-subtler);
  --shadows-brand-light-1: var(--color-opacity-secondary-1);
  --shadows-brand-light-2: var(--color-opacity-secondary-2);
  --shadows-brand-light-3: var(--color-opacity-secondary-3);
  --shadows-brand-light-4: var(--color-opacity-secondary-4);
  --shadows-brand-light-5: var(--color-opacity-secondary-5);
  --shadows-brand-light-6: var(--color-opacity-secondary-6);
  --shadows-brand-light-7: var(--color-opacity-secondary-7);
  --shadows-brand-light-8: var(--color-opacity-secondary-8);
  --shadows-brand-light-9: var(--color-opacity-secondary-9);
  --shadows-brand-light-10: var(--color-opacity-secondary-10);
  --shadows-brand-light-11: var(--color-opacity-secondary-11);
  --shadows-brand-light-12: var(--color-opacity-secondary-12);
  --shadows-brand-light-13: var(--color-opacity-secondary-13);
  --shadows-brand-light-14: var(--color-opacity-secondary-14);
  --shadows-brand-light-15: var(--color-opacity-secondary-15);
  --shadows-brand-light-16: var(--color-opacity-secondary-16);
  --shadows-brand-1: var(--color-opacity-brand-1);
  --shadows-brand-2: var(--color-opacity-brand-2);
  --shadows-brand-3: var(--color-opacity-brand-3);
  --shadows-brand-4: var(--color-opacity-brand-4);
  --shadows-brand-5: var(--color-opacity-brand-5);
  --shadows-brand-6: var(--color-opacity-brand-6);
  --shadows-brand-7: var(--color-opacity-brand-7);
  --shadows-brand-8: var(--color-opacity-brand-8);
  --shadows-brand-9: var(--color-opacity-brand-9);
  --shadows-brand-10: var(--color-opacity-brand-10);
  --shadows-brand-11: var(--color-opacity-brand-11);
  --shadows-brand-12: var(--color-opacity-brand-12);
  --shadows-brand-13: var(--color-opacity-brand-13);
  --shadows-brand-14: var(--color-opacity-brand-14);
  --shadows-brand-15: var(--color-opacity-brand-15);
  --shadows-brand-16: var(--color-opacity-brand-16);
  --colors-text-status-success-default: var(--color-status-success-700);
  --colors-text-status-warning-default: var(--color-status-warning-500);
  --colors-text-status-warning-subtlest: var(--color-status-warning-200);
  --colors-text-status-warning-subtler: var(--color-status-warning-300);
  --colors-text-status-warning-bolder: var(--color-status-warning-600);
  --colors-text-status-danger-default: var(--color-status-danger-600);
  --colors-text-status-danger-subtlest: var(--color-status-danger-400);
  --colors-text-status-danger-subtler: var(--color-status-danger-500);
  --colors-text-status-danger-bolder: var(--color-status-danger-800);
  --colors-text-status-info-default: var(--color-status-info-600);
  --colors-text-status-info-subtlest: var(--color-status-info-400);
  --colors-text-status-info-subtler: var(--color-status-info-500);
  --colors-text-status-info-bolder: var(--color-status-info-700);
  --colors-text-status-success-subtlest: var(--color-status-success-300);
  --colors-text-status-success-subtler: var(--color-status-success-500);
  --colors-text-status-success-bolder: var(--color-status-success-900);
  --colors-background-status-warning-subtlest-default: var(--color-status-warning-200);
  --colors-background-status-warning-subtler-default: var(--color-status-warning-300);
  --colors-background-status-warning-subtler-hover: var(--color-status-warning-200);
  --colors-background-status-success-default: var(--color-status-success-600);
  --colors-background-status-success-hover: var(--color-status-success-500);
  --colors-background-status-success-subtlest-default: var(--color-status-success-200);
  --colors-background-status-success-subtlest-hover: var(--color-status-success-100);
  --colors-background-status-success-subtler-default: var(--color-status-success-300);
  --colors-background-status-success-subtler-hover: var(--color-status-success-200);
  --colors-background-status-success-subtle-default: var(--color-status-success-400);
  --colors-background-status-success-subtle-hover: var(--color-status-success-300);
  --colors-background-status-success-bolder-default: var(--color-status-success-900);
  --colors-background-status-success-bolder-hover: var(--color-status-success-800);
  --colors-background-status-warning-default: var(--color-status-warning-600);
  --colors-background-status-warning-hover: var(--color-status-warning-500);
  --colors-background-status-warning-subtle-default: var(--color-status-warning-400);
  --colors-background-status-warning-subtle-hover: var(--color-status-warning-300);
  --colors-background-status-warning-bolder-default: var(--color-status-warning-900);
  --colors-background-status-warning-bolder-hover: var(--color-status-warning-800);
  --colors-background-status-warning-subtlest-hover: var(--color-status-warning-100);
  --colors-background-status-danger-bolder-default: var(--color-status-danger-900);
  --colors-background-status-danger-bolder-hover: var(--color-status-danger-800);
  --colors-background-status-danger-subtle-default: var(--color-status-danger-400);
  --colors-background-status-danger-subtle-hover: var(--color-status-danger-300);
  --colors-background-status-danger-subtler-default: var(--color-status-danger-200);
  --colors-background-status-danger-subtler-hover: var(--color-status-danger-300);
  --colors-background-status-danger-subtlest-default: var(--color-status-danger-050);
  --colors-background-status-danger-default: var(--color-status-danger-700);
  --colors-background-status-danger-hover: var(--color-status-danger-600);
  --colors-background-status-danger-subtlest-hover: var(--color-status-danger-100);
  --colors-background-status-info-subtlest-default: var(--color-status-info-200);
  --colors-background-status-info-subtler-default: var(--color-status-info-300);
  --colors-background-status-info-subtler-hover: var(--color-status-info-200);
  --colors-background-status-info-default: var(--color-status-info-700);
  --colors-background-status-info-hover: var(--color-status-info-600);
  --colors-background-status-info-subtle-default: var(--color-status-info-400);
  --colors-background-status-info-subtle-hover: var(--color-status-info-300);
  --colors-background-status-info-bolder-default: var(--color-status-info-900);
  --colors-background-status-info-bolder-hover: var(--color-status-info-800);
  --colors-background-status-info-subtlest-hover: var(--color-status-info-100);
  --colors-icon-secondary-default: var(--color-secondary-800);
  --colors-icon-secondary-bolder: var(--color-secondary-900);
  --colors-icon-secondary-subtle: var(--color-secondary-700);
  --colors-icon-secondary-subtler: var(--color-secondary-600);
  --colors-icon-secondary-subtlest: var(--color-secondary-500);
  --colors-icon-tertiary-default: var(--color-tertiary-500);
  --colors-icon-tertiary-bolder: var(--color-tertiary-600);
  --colors-icon-tertiary-subtle: var(--color-tertiary-400);
  --colors-icon-tertiary-subtler: var(--color-tertiary-300);
  --colors-icon-tertiary-subtlest: var(--color-tertiary-200);
  --colors-icon-success-default: var(--color-status-success-500);
  --colors-icon-success-subtlest: var(--color-status-success-200);
  --colors-icon-success-subtler: var(--color-status-success-300);
  --colors-icon-success-subtle: var(--color-status-success-400);
  --colors-icon-success-bolder: var(--color-status-success-700);
  --colors-icon-warning-default: var(--color-status-warning-500);
  --colors-icon-warning-subtlest: var(--color-status-warning-200);
  --colors-icon-warning-subtler: var(--color-status-warning-300);
  --colors-border-opacity-light: var(--color-opacity-brand-dark-2);
  --colors-icon-warning-subtle: var(--color-status-warning-400);
  --colors-icon-warning-bolder: var(--color-status-warning-700);
  --colors-icon-danger-default: var(--color-status-danger-500);
  --colors-icon-danger-subtlest: var(--color-status-danger-200);
  --colors-icon-danger-subtler: var(--color-status-danger-300);
  --colors-icon-danger-subtle: var(--color-status-danger-400);
  --colors-icon-danger-bolder: var(--color-status-danger-700);
  --colors-icon-info-default: var(--color-status-info-500);
  --colors-icon-info-subtlest: var(--color-status-info-200);
  --colors-icon-info-subtler: var(--color-status-info-300);
  --colors-icon-info-subtle: var(--color-status-info-400);
  --colors-icon-info-bolder: var(--color-status-info-700);
  --colors-background-ghost-default: var(--color-opacity-neutral-light-40);
  --colors-background-ghost-bolder: var(--color-opacity-neutral-light-60);
  --colors-background-ghost-subtle: var(--color-opacity-neutral-light-20);
  --colors-background-ghost-subtler: var(--color-opacity-neutral-light-10);
  --colors-background-ghost-subtlest: var(--color-opacity-neutral-light-5);
  --colors-background-ghost-blur: 20px;
  --shadows-secondary-dark-1: var(--color-opacity-secondary-dark-1);
  --shadows-secondary-dark-2: var(--color-opacity-secondary-dark-2);
  --shadows-secondary-dark-3: var(--color-opacity-secondary-dark-3);
  --shadows-secondary-dark-4: var(--color-opacity-secondary-dark-4);
  --shadows-secondary-dark-5: var(--color-opacity-secondary-dark-5);
  --shadows-secondary-dark-6: var(--color-opacity-secondary-dark-6);
  --shadows-secondary-dark-7: var(--color-opacity-secondary-dark-7);
  --shadows-secondary-dark-8: var(--color-opacity-secondary-dark-8);
  --shadows-secondary-dark-9: var(--color-opacity-secondary-dark-9);
  --shadows-secondary-dark-10: var(--color-opacity-secondary-dark-10);
  --shadows-secondary-dark-11: var(--color-opacity-secondary-dark-11);
  --shadows-secondary-dark-12: var(--color-opacity-secondary-dark-12);
  --shadows-secondary-dark-13: var(--color-opacity-secondary-dark-13);
  --shadows-secondary-dark-14: var(--color-opacity-secondary-dark-14);
  --shadows-secondary-dark-15: var(--color-opacity-secondary-dark-15);
  --shadows-secondary-dark-16: var(--color-opacity-secondary-dark-16);
  --shadows-secondary-light-1: var(--color-opacity-secondary-1);
  --shadows-secondary-light-2: var(--color-opacity-secondary-2);
  --shadows-secondary-light-3: var(--color-opacity-secondary-3);
  --shadows-secondary-light-4: var(--color-opacity-secondary-4);
  --shadows-secondary-light-5: var(--color-opacity-secondary-5);
  --shadows-secondary-light-6: var(--color-opacity-secondary-6);
  --shadows-secondary-light-7: var(--color-opacity-secondary-7);
  --shadows-secondary-light-8: var(--color-opacity-secondary-8);
  --shadows-secondary-light-9: var(--color-opacity-secondary-9);
  --shadows-secondary-light-10: var(--color-opacity-secondary-10);
  --shadows-secondary-light-11: var(--color-opacity-secondary-11);
  --shadows-secondary-light-12: var(--color-opacity-secondary-12);
  --shadows-secondary-light-13: var(--color-opacity-secondary-13);
  --shadows-secondary-light-14: var(--color-opacity-secondary-14);
  --shadows-secondary-light-15: var(--color-opacity-secondary-15);
  --shadows-secondary-light-16: var(--color-opacity-secondary-16);
  --shadows-secondary-1: var(--color-opacity-secondary-1);
  --shadows-secondary-2: var(--color-opacity-secondary-2);
  --shadows-secondary-3: var(--color-opacity-secondary-3);
  --shadows-secondary-4: var(--color-opacity-secondary-4);
  --shadows-secondary-5: var(--color-opacity-secondary-5);
  --shadows-secondary-6: var(--color-opacity-secondary-6);
  --shadows-secondary-7: var(--color-opacity-secondary-7);
  --shadows-secondary-8: var(--color-opacity-secondary-8);
  --shadows-secondary-9: var(--color-opacity-secondary-9);
  --shadows-secondary-10: var(--color-opacity-secondary-10);
  --shadows-secondary-11: var(--color-opacity-secondary-11);
  --shadows-secondary-12: var(--color-opacity-secondary-12);
  --shadows-secondary-13: var(--color-opacity-secondary-13);
  --shadows-secondary-14: var(--color-opacity-secondary-14);
  --shadows-secondary-15: var(--color-opacity-secondary-15);
  --shadows-secondary-16: var(--color-opacity-secondary-16);
  --colors-filter-subtlest-default: var(--color-opacity-secondary-dark-5);
  --colors-filter-subtlest-hover: var(--color-opacity-secondary-dark-10);
}
